# Eclipse
.classpath
.project
.metadata
.settings/

# Intellij
.idea/
*.iml
*.iws
atlassian-ide-plugin.xml

# Mac
.DS_Store

# Maven
log/
target/
dependency-reduced-pom.xml

# Java
*.class
*.jar
*.war
*.ear

# Chef/Vagrant
*.vagrant
*.lock
