<!-- ********* footer start ************-->
<footer>
        <div class="container">
            <div class="row">
                <div class="col-xs-2 col-xs-offset-5"><img src="img/DSFooter.jpg"  class="img-responsive"/></div>
            </div>
          <div class="row" id="footerlist">
            <div class="col-md-2 col-sm-6 col-md-offset-2 paddingtop-bottom" >
              <h6 class="heading7">Product</h6>
              <ul class="footer-ul" id="footerlistdiv">
                  <li><a href="home.html">Home</a></li>
                  <li><a href="User_Doc.html">User Documentation</a></li>
                  <li><a href="Get_start.html">Get Started</a></li>
                  <li><a href="#FAQ">FAQ</a></li>
              </ul>
            </div>
            <div class="col-md-2 col-sm-6 col-md-offset-1 paddingtop-bottom">
                <h6 class="heading7">Contact</h6>
                <ul class="footer-ul">
                    <li><a href="https://github.com/ExpediaInceCommercePlatform/dataSqueeze">GitHub</a></li>
                    <li><a href="https://github.com/ExpediaInceCommercePlatform/dataSqueeze/issues">Report a Bug</a></li>
                </ul>
              </div>
              <div class="col-md-2 col-sm-6 col-md-offset-1 paddingtop-bottom">
                  <h6 class="heading7">Company</h6>
                  <ul class="footer-ul">
                      <li><a href="https://www.expedia.com">Expedia.com</a></li>
                      <li><a href="http://www.lifeatexpedia.com">Jobs</a></li>
                  </ul>
                </div>
          </div>
        </div>
      </footer>
    <!-- ********* footer End ************-->
    <!-- ********* Copyright Start ************-->
  <div class="copyright">
        <div class="container-fluid">
            <p> © 2017 Copyright: Expedia Inc. </p>
        </div>
</div>
  <!-- ********* Copyright End ************-->