<!-- *********Banner ************ -->
<div class="container maincontent" id="Home">
        <div class="row">
           <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-md-push-6">
                <img  class="img-responsive" alt="Data Squeeze tree" src="img/DSBanner.jpg">
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-md-pull-6">
                <div class="jumbotron jumbo-trans">
                      <h2>Big Data, Freshly-Squeezed!</h2> 
                      <p>DataSqueeze is a compaction utility developed to compact small files - optimizing the performance of your Big Data platforms.</p> 
                      <a href="#About"><button type="button" class="btn btn-warning" >HOW IT WORKS</button></a>
                      <a href="#Features"><button type="button" class="btn btn-warning" id="getstartbtn">FEATURES</button></a>
              </div>
          </div>
        </div>
      </div>
    <!-- ********* End-Banner ************ -->
    
    <!-- ********* Terminal ************ -->
      <div class="container" id="About">
          <div class="row">
            <div class="col-xs-12"><img src="img/DSTerminal2.jpg" class="img-responsive"/></div>
            <div class="col-xs-12">
                <h3 class="text-center">HOW IT WORKS</h3>
                <p class="text-center">Easy peasy, data squeezy.</p></div>     
          </div>
      </div>  
    <!-- ********* End-Terminal ************ -->
    
    <!-- ********* How-Works ************ -->
       <div class="container">
            <div class="row"><div class="col-xs-12"> <img src="img/DSsteps.jpg" class="img-responsive"/></div></div>
            <div class="row">
                <div class="col-xs-4 col-md-2"><h4 class="text-center">Download the DataSqueeze- <br>manager .jar from Nexus</h4></div>
                <div class="col-xs-4 col-md-2 col-md-offset-3"><h4 class="text-center">Run the following compaction <br>command using the terminal</h4></div> 
                <div class="col-xs-4 col-md-2 col-md-offset-3"><h4 class="text-center">Sit back and relax! <br>  Your data will be squeezed in no time</h4></div>      
            </div>
      </div>
    <!-- ********* End-How-Works ************ -->
    
    <!-- ********* Supported Compaction ************ -->
      <div class="container-fluid banner-normal">
          <hr class="divider">
            <div class="jumbotron jumbo-trans nopadding text-center">
                      <h3>Supported Compaction Types</h3>
                      <p>DataSqueeze can perform compaction in two different ways, depending on your use case.</p>        
            </div>
            <div class="container">
                    <div class="row">   
                        <div class="col-sm-6">
                            <div class="cardexpand">
                              <div class="container-fluid card-div">
                                <h2 class="text-center">Normal</h2> 
                                  <img src="img/DSNormal.jpg" class="img-responsive" />
                                        <p>User provides source and target location. It stores compacted files on target location retaining directory structure.</p> </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                         <div class="cardexpand">
                         <div class="container-fluid card-div">
                              <h2 class="text-center">In-Place</h2> 
                                <img src="img/DSInPlace.jpg" class="img-responsive" />
                                      <p>A User provides source and temp location. It stores compacted files on source location and deletes small files from temp.</p></div>                         
                            </div>
                        </div>
                    </div>
                </div>
          </div>
    <!-- ********* End-Supported Compaction ************ -->
    
    <!-- ********* Key Features ************ -->
          <div class="container" id="Features">
                <hr>
                <h3 class="text-center">KEY FEATURES</h3>
                <div class="container-fluid">
                    <div class="row"> 
                        <div class="col-sm-6">
                            <div class="card">
                              <div class="container-fluid card-div">
                                <h3 class="text-center">Versatile</h3>
                                <div class="container img-res"><img src="img/DSVersatile.jpg" class="img-responsive" /></div>
                                        <p>Use DataSqueeze to compact data on- premise or in AWS.</p> </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                         <div class="card">
                         <div class="container-fluid card-div">
                              <h3 class="text-center">File Format</h3> 
                              <div class="container img-res"><img src="img/DSFile.jpg" class="img-responsive" /></div>
                                      <p>Supports compaction of ORC, SEQUENCE OR TEXT files.</p></div>                         
                            </div>
                        </div>
                    </div>
                <div class="row">   
                        <div class="col-sm-6">
                            <div class="card">
                              <div class="container-fluid card-div">
                                <h3 class="text-center">Performance</h3> 
                                <div class="container img-res"><img src="img/DSPerformance.jpg" class="img-responsive" /></div>
                                        <p>Compacted files retain the same compression as input files.</p> </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                         <div class="card">
                         <div class="container-fluid card-div">
                              <h3 class="text-center">Source Structure</h3> 
                              <div class="container img-res"><img src="img/DSSource.jpg" class="img-responsive" /></div>
                                      <p>DataSqueeze retails the directory structure of the source.</p></div>                         
                            </div>
                        </div>
                    </div>
                    <div class="row">   
                        <div class="col-sm-6">
                              <div class="container-fluid card-second-div">                                    
                                        <h4>Compacted files retain the same compression as input files.</h4> </div>
                        </div>
                        <div class="col-sm-6">
                         <div class="container-fluid card-second-div">  
                            <h4>DataSqueeze retails the directory structure of the source.</h4>  
                        </div>
                    </div>
                </div>
            </div>
            <div class="container pattern-card">
               <section>
                <div class="row">   
                     <div class="col-sm-7">
                        <h2>Ready to start using DataSqueeze?</h2>
                        <p>Please use the following resources to help you get started!</p>
                      </div>
                      <div class="col-sm-5" id="navigate">
                        <a href="User_Doc.html"><button type="button" class="btn btn-normal" id="documentbottom" >LEARN MORE</button></a>
                        <a href="Get_start.html"><button type="button" class="btn btn-normal" id="getstartbottom">GET STARTED</button></a>
                     </div>
                </div>
               </section>
            </div>
    </div>
    <!-- ********* End Key Features ************ -->