<!--****** Navigation Start ************ -->
<div class="container Logo" >
        <nav class="navbar navbar-default navbar-fixed-top">
          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar2">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#"><img src="img/DSQBanner.png" alt="Data Squeeze"></a>
            </div>
            <div id="navbar2" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="https://github.com/ExpediaInceCommercePlatform/dataSqueeze"><i class="fa fa-github fa-2x" aria-hidden="true"></i></a></li>
                  </ul>
                  <ul class="nav navbar-nav navbar-right nav-top">
                        <li class="active"><a href="home.html">HOME</a></li>
                        <li><a href="User_Doc.html">DOCUMENTATION</a></li>
                        <li><a href="Get_start.html">GET STARTED</a></li>
                  </ul>     
            </div>
          </div>  
        </nav>
</div>
  <!--****** Navigation End ************ -->